.container {
  max-width: 800px;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.container mat-card a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.container mat-card a:hover {
  opacity: 1
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 170px;
}

.card-footer {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: 0;
}

.movie img {
  padding-bottom: 0;
}




