<div class="container">
  <mat-card
    appMaterialElevation
    class="movie mat-elevation-z8"
    *ngFor="let movie of movies"
  >
    <img
      mat-card-image
      src="{{ movie.Poster }}"
       alt="{{ movie.Title }}"
    >
    <div class="card-footer">
      <a routerLink="movie/edit/{{movie._id}}">
        See more
      </a>
        <mat-icon
          matTooltip="{{ movie.Watched ? 'Watched' : 'Not watched' }}"
          color="primary"
        >
          {{!movie.Watched ? 'visibility_off' : 'visibility'}}
        </mat-icon>
    </div>
  </mat-card>
</div>
