mat-card {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.add-movie-tab {
  display: flex;
  justify-content: center;
}

mat-card mat-card-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.add-movie {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 10px !important;
  margin: 0 auto;
}

.search {
  display: flex;
}

.search-movie {
  width: 65%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
}

.input-container mat-tab-group {
  width: 100%;
}

.input-width {
  width: 80%;
  /* flex: 1; */
}

.input-width-search {
  width: 80%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container button {
  min-width: 100px;
  margin-left: 10px;
}

.error-msg {
  text-align: center;
  margin: 10px 0 10px 0;
}

.order-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 60px;
}

.order-items mat-radio-group mat-radio-button {
  margin: 0 10px 0 10px;
}

.order-items mat-form-field {
  margin: 0 10px 0 10px;
}
